/* Projet Librairie */

/* Reset Page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base page */

body{
    height: 100%;
    width: 100%;
}

/* Header */

header {
    background-color: rgb(194, 120, 99);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.logo{
    width: 15%;
    height: auto;
}

.resp{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

nav a{
    text-decoration-line: none;
    color: white;
}

nav a:hover{
    color: #AA3333 ;
}
nav p{
    margin-left: 50px;
    cursor: pointer;
}

/* Footer */

footer{
    background-color: rgb(194, 120, 99);
    padding: 30px 50px;
}

.reseau{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Article Book */

.container{

    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.books {
    background-color: lightgray;
    text-align: center;
    width: 33%;
    padding: 100px 0;
    box-shadow: 3px 3px 10px black;
}
.green{
    color: forestgreen;
}

.red{
    color: #AA3333;
}

.button{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #313131;
    color: white;
    margin: 10px auto;
    border-radius: 20px;

}